* {
    font-family: 'Arial', serif;
    color: #fff;
}

body {
    margin: 0;
    background-color: #bad8f8;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.display {
    grid-column: 1 / 5;
    display: flex;
    margin: 10px 10px 20px;
    background-color: #0b1a2c;
    border-radius: 32px;
    text-align: right;
    box-shadow: 0px 0px 0px 10px #00000033;
}

.calculator {
    display: grid;
    grid-template-columns: repeat(4, 75px);
    grid-template-rows: 160px repeat(5, 75px);
    background-color: #8bb7fa;
    padding: 15px;
    border-radius: 32px;
    box-shadow: 15px 10px 0px 5px #00000033;
}

button {
    margin: 5px;
    border-radius: 32px;
    font-size: 1.5em;
    border: none;
    background-color: #013668;
    box-shadow: 5px 5px 10px -3px #00000040, -5px -5px 15px 3px #0000001f;
}

button:active {
    background-color: #5b7aa1;
}

.btn-c {
    grid-column: 1 / span 2;
    grid-row: 2;
    background-color: #bad8f8;
    font-family: 'Arial', serif;
    color: #013668;
}

.btn-ans {
    font-size: 1.3em;
}

.btn-0 {
    grid-column: 1 / span 2;
    grid-row: 6;
}

.btn-equal {
    grid-column: 4;
    grid-row: 6;
    background-color: #bad8f8;
    font-family: 'Arial', serif;
    color: #013668;
}

.display {
    font-family: 'Arial', serif; 
    font-size: 250%;
}